{% extends "blog/base.html" %}
{% load static %} 
{% block title %}My Blog{% endblock %}

{% block content %}
   <div class="glav_tite container-fluid text-center  col-md-8">
			<h1> УЮТНЫЙ БЛОГ </h1>
			<p style='text-align:left; margin-top: 50px'> ТИПИЧНОГО НАЧИНАЮЩЕГО ПРОГЕРА </p>
			<p style='font-size: 12px; text-align:left;'>
			 Всем привет, Меня зовут <u>Сёма</u> и я начинающий программист, увлекающийся различными технологиями
			 разработки. Занимаюсь я этим около года и считаю
			 этот процесс очень увлекательныv. И путем который я прохожу из низов этой области, хочу поделится с вами
			 в этом блоге.
			</p>
			<br>
   </div>

{% endblock %}