{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}

{% block header %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:index' %}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:post_list' %}">Статьи</a>
      </li>
      {% endblock %}

{% block content %}
	
	 <div class="glav_tite container text-right" style='margin-bottom: 0px; height: 80px;'>
			<h1> СТАТЬИ </h1>
   </div>	

	<div class="glav row">
    {% for post in posts %}
    		<div class="card col-md-10 bg-dark">
				  <div class="card-body">
				  	<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				    <p class="card-text"> {{ post.body|truncatewords:30|linebreaks }}</p>
				  </div>

			</div>

{% endfor %}
	</div>

	{% include "blog/paginator.html" with page=posts %}
{% endblock %}